/* Contact Form */
#contact-section {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 45px;
    overflow: auto;
}

#contact-section h2 {
    margin: 20px 0 10px;
    font-size: 26px;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #2980B9;
}

#contact-section hr {
    width: 300px;
    border-color: #2980B9;
}

#contact-section div {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}

/* Form Area */
#contact-section .form-area {
    width: 65%;
}

/* Address Area */
#contact-section .address-area {
    width: 35%;
}

#contact-section .address-area p,
#contact-section .address-area li {
    color: #2980B9;
}

#contact-section .address-area p {
    margin: 25px 0;
    font-size: 14px;
}

#contact-section .address-area li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

#contact-section .address-area span {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: #2980B9;
}

/* Map */
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}


/* =========================== */
/* Media Queries */
/* =========================== */
/* Mobile */
@media all and (max-width: 767px){
    
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px){
    
}

/* Laptop */
@media all and (min-width: 1024px) and (max-width: 1439px){
    
}

/* Laptop L */
@media all and (min-width: 1440px) and (max-width: 2559px){
    
}

/* 4K */
@media all and (min-width: 2560px){
    
}