body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

/* ########################## */
/* Header Content */
/* ########################## */
header, footer {
    background: #2980B9;
    color: #FFF;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
}

header img {
    max-height: 60%;
    margin: 0 30px 0 5vw;
    box-sizing: border-box;
}

header h1 {
    font-family: monospace;
    font-size: 1.8rem;
}

/* ########################## */
/* Main Content */
/* ########################## */
main {
    min-height: 80vh;
}

/* ########################## */
/* Footer Content */
/* ########################## */
footer {
    padding: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#tnt {
    padding: 0.5vh 0.8vw;
    margin-bottom: 4vh;
    border: 1px solid #FFF;
    border-radius: 3px;
}

#tnt:hover {
    background-color: #FFF;
    color: #34495E;
}

.social-media li {
    display: inline-block;
}


.social-media li + li {
    margin-left: 5vw;
}


.social-media img {
    height: 6vh;
}

/* Large Screens */
@media all and (min-width: 768px) {
    /* Footer */
    footer {
        height: 10vh;
        padding: 0;
        flex-direction: row;
    }
    
    #tnt {
        margin-bottom: 0;
    }
    
    .social-media li + li {
        margin-left: 10px;
    }
    
    .social-media img {
        height: 4vh;
    }
}