/* ########################## */
/* Header Content */
/* ########################## */
header, footer {
    background: #2980B9;
}

header h1 {
    font-family: monospace;
}

/* ########################## */
/* Main Content */
/* ########################## */
main {
    min-height: 80vh;
    background-color: #E8E8E8;
}