/* =========================== */
/* Slider */
/* =========================== */
#slider {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
}

#slider:hover #left-arrow,
#slider:hover #right-arrow {
    background: #000;
    opacity: 0.5;
}

#slider:hover #left-arrow img,
#slider:hover #right-arrow img {
    display: block;
}

#image-displayer,
#left-arrow, #right-arrow {
    position: absolute;
}

#image-displayer {
    width: inherit;
}

#left-arrow, #right-arrow {
    width: 100px;
    height: inherit;
    cursor: pointer;
}

#right-arrow {
    right: 0;
}

#left-arrow img,
#right-arrow img {
    width: 50px;
    margin: 240px auto 0;
    display: none;
}


/* =========================== */
/* Media Queries */
/* =========================== */
/* Mobile */
@media all and (max-width: 767px){
    
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1023px){
    
}

/* Laptop */
@media all and (min-width: 1024px) and (max-width: 1439px){
    
}

/* Laptop L */
@media all and (min-width: 1440px) and (max-width: 2559px){
    
}

/* 4K */
@media all and (min-width: 2560px){
    
}