body {
    background-image: url(../img/home/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

header, main, footer {
    box-sizing: border-box;
}

/*########################*/
/* Header */
/*########################*/
header {
    width: 100vw;
    height: 6vh;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
}

header h1 {
    display: inline-block;
    font-size: 1rem;
    color: #FFF;
}

header img {
    max-height: 5vh;
    display: inline-block;
    float:left;
}


/*########################*/
/* Main */
/*########################*/
main {
    width: 100vw;
    height: 100vh;
    padding-top: 6vh;
}


/*########################*/
/* Footer */
/*########################*/
footer {
    
}