/* =========================== */
/* Slider */
/* =========================== */
#slider {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
}

#image-displayer,
#left-arrow, #right-arrow {
    position: absolute;
}

#image-displayer {
    width: inherit;
}

#left-arrow, #right-arrow {
    width: 60px;
    height: inherit;
    cursor: pointer;
}

#right-arrow {
    right: 0;
}