@font-face {
    font-family: "handMusic";
    src: url('../fonts/Pinyon_Script/PinyonScript-Regular.eot');
    src: url('../fonts/Pinyon_Script/PinyonScript-Regular.woff2') format('woff2'),
         url('../fonts/Pinyon_Script/PinyonScript.woff') format('woff'),
         url('../fonts/Pinyon_Script/PinyonScript.ttf') format('truetype'),
         url('../fonts/Pinyon_Script/PinyonScript.svg#PinyonScript') format('svg'),
         url('../fonts/Pinyon_Script/PinyonScript-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* ########################## */
/* Header Content */
/* ########################## */
header, footer {
    background: #F39C12;
}

header h1 {
    font-size: 2rem;
    font-family: "handMusic", cursive;
}

/* ########################## */
/* Main Content */
/* ########################## */
main {
    min-height: 80vh;
    background-color: #E8E8E8;
}