/*
Color pallete:
red: #CC0000;
dark-gray: #4D4D4D;
light-gray: #BFBFBF;
white: #F2F1EF;
blue: #1F3A93;
*/

header, main, footer {
    width: 100%;
}


/* =========================== */
/* Header */
/* =========================== */
#social-bar,
#masthead {
    width: 100%;
}

#social-bar > div,
#masthead > div {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Social Bar */
#social-bar {
    height: 17px;
    padding: 3px 0;
    font-size: 12px;
    background-color: #CC0000;
}

#social-bar a {
    text-decoration: none;
    color: #F2F1EF;
}

#social-bar .contact a:hover {
    text-decoration: underline;
}

/* Masthead */
#masthead {
    height: 62px;
}

#masthead #logo {
    float: left;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
}