/* =========================== */
/* Fonts */
/* =========================== */
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Regular.ttf);
}

/* =========================== */
/* General */
/* =========================== */
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header, main, footer {
    width: 100%;
}

a {
    text-decoration: none;
    color: #F2F1EF;
}

/* =========================== */
/* Header */
/* =========================== */
#social-bar,
#masthead {
    width: 100%;
}

#social-bar > div,
#masthead > div {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* =========================== */
/* Social Bar */
/* =========================== */
#social-bar {
    height: 17px;
    padding: 3px 0;
    line-height: 17px;
    font-size: 12px;
    background-color: #CC0000;
}

#social-bar a:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /* Adjust as necessary */
    padding-right: 0.6em;
    font-size: 12px;
}

/* Contact */
#social-bar .contact {
    width: 50%;
    float: left;
}

#social-bar .contact a {
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
}

#social-bar .phone {
    margin-right: 20px;
}

#social-bar .phone:before {
    content: "\f095";
}

#social-bar .mail:before {
    content: "\f0e0";
}

/* Social Media */
#social-bar .social-media {
    float: right;
}

#social-bar .facebook:before {
    content: "\f09a";
}

#social-bar .youtube:before {
    content: "\f16a";
}

#social-bar .instagram:before {
    content: "\f16d";
}


/* =========================== */
/* Masthead */
/* =========================== */
#masthead {
    height: 62px;
    background-color: #4D4D4D;
}

#logo {
    width: 62px;
    margin: 0 auto;
}

nav {
    float: right;
    line-height: 62px;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
}

nav li {
    float: left;
}

nav li > a {
    padding: 20px 16px 17px;
    border-bottom: 3px solid transparent;
    font-size: 18px;
    text-transform: uppercase;
}

nav li a:hover {
    border-bottom-color: #F2F1EF;
}


/* =========================== */
/* Footer */
/* =========================== */
footer {
	border-top: 40px solid #4D4D4D;
	background-color: #BFBFBF;
	color: #F2F1EF;
}

footer div {
	
}

footer .about, footer .news,
footer .contact {
	width: 30%;
	padding: 30px 15px;
	float: left;
}

footer .copy {
	width: 100%;
	height: 26px;
	clear: both;
	line-height: 26px;
	font-size: 14px;
	background-color: #4D4D4D;
}

footer .copy p {
    width: 100%;
    max-width: 1170px;
	padding: 0 15px;
    margin: 0 auto;
	box-sizing: border-box;
	text-align: right;
}

footer .copy a:hover {
	text-decoration: underline;
}

/* Contact */
#footContact input,
#footContact textarea {
	width: 100%;
	padding: 9px 10px;
	margin-bottom: 4px;
	box-sizing: border-box;
	display: block;
	background-color: #4D4D4D;
	border: 1px solid #F2F1EF;
	color: #F2F1EF;
}

#footContact #fSubmit {
	width: auto;
	margin: 0;
	float: right;
	text-transform: uppercase;
	color: #F2F1EF;
}

#footContact ::-webkit-input-placeholder {
   color: #F2F1EF;
}

#footContact :-moz-placeholder { /* Firefox 18- */
   color: #F2F1EF;  
}

#footContact ::-moz-placeholder {  /* Firefox 19+ */
   color: #F2F1EF;  
}

#footContact :-ms-input-placeholder {  
   color: #F2F1EF;  
}