$grey_color: rgb(127, 129, 132);
$hover_color: rgb(189, 189, 189);
$back_color: rgb(37, 38, 42);
$border_color: rgb(72, 73, 76);
$red_color: rgb(255, 90, 100);
.Panel {
    display: flex;
    flex-direction: row;
    .navbar {
        width: 40px;
        border-right: 1px solid $border_color;
        background-color: $back_color;
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tab__container {
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            .tab__item {
                width: 30px;
                height: 30px;
                margin-bottom: 30px;
                cursor: pointer;
                .iconify {
                    margin-left: 3px;
                    width: 24px;
                    height: 24px;
                    color: $grey_color;
                    &:hover {
                        color: $hover_color;
                    }
                }
            }
        }
        .chat {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: $red_color;
            transition: 0.2s;
            cursor: pointer;
            .iconify { 
                width: 24px; 
                height: 24px;
                color: white;
                padding: 8px;
            }
            &:hover {
                background-color: rgb(255, 164, 171);
                transition: 0.2s;
            }
        }
        z-index: 10;
    }
    .nav__setting {
        width: 200px;
        border-right: 1px solid $border_color;
        background-color: $back_color;
        padding: 40px 10px;
        position: absolute;
        height: calc(100vh - 145px);
        animation: mymove 1s ease-out forwards;
        z-index: 2;
    }
    @keyframes mymove
    { 
        from { left: -100px;}
        to { left: 60px;}
    }
}