#roadmap .content-data {
    width: 100%;
    padding: 0;
}

#roadmap .swiper-container {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}

/* Slide */
#roadmap .swiper-slide {
    padding: 3rem 1rem;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #056EB5;
    box-sizing: border-box;
}

#roadmap .roadmap-info {
    border-radius: 6px;
    font-size: 1rem;
}

#roadmap .timestamp {
    margin: 0.6rem;
    font-weight: 700;
    color: #3F3F3F;
}

#roadmap .timestamp::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(45deg, #056EB5, #004761);
    position: absolute;
    top: -14px;
    left: calc(50% - 12px);
}

#roadmap .timestamp::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -7px;
    left: calc(50% - 5PX);
}

#roadmap .description span {
    font-weight: 700;
}

#roadmap .description p {
    padding: 0.6rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 300;
}

/* Current Slide */
#roadmap .swiper-slide.current .roadmap-info {
    position: relative;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
    background-image: linear-gradient(45deg, #056EB5, #004761);
    color: #FFF;
}

#roadmap .swiper-slide.current .roadmap-info::after {
    content: '';
    display: block;
    position: absolute;
    left: 46.5%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #004761;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#roadmap .swiper-slide.current .timestamp {
    color: #FFF;
}

#roadmap .swiper-slide.current .timestamp::before {
    top: -62px;
    background: linear-gradient(50deg, #519154 20%, #64C05C 65%);
}

#roadmap .swiper-slide.current .timestamp::after {
    top: -55px;
}

#roadmap .swiper-slide.current .description span {
    margin-bottom: 0.6rem;
    display: block;
}

#roadmap .swiper-slide.current .description p {
    background-image: linear-gradient(50deg, #519154 20%, #64C05C 65%);
}

/* Completed Slide */
#roadmap .swiper-slide.completed .timestamp::before {
    content: '\2713';
    padding-right: 3px;
    box-sizing: border-box;
    color: #FFF;
    line-height: 26px;
}

#roadmap .swiper-slide.completed .timestamp::after {
    content: '';
    background-color: transparent;
}


/* ================================ */
/* Arrows */
/* ================================ */
#roadmap .swiper-button-prev,
#roadmap .swiper-button-next {
    top: 1.5rem;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: linear-gradient(50deg, #519154 20%, #64C05C 65%);
    color: #FFF;
    opacity: 1;
}

#roadmap .swiper-button-prev:focus,
#roadmap .swiper-button-next:focus {
    outline: none;
}

#roadmap .swiper-button-prev {
    left: 0;
}

#roadmap .swiper-button-next {
    right: 0;
}

#roadmap .swiper-button-prev::after,
#roadmap .swiper-button-next::after {
    font-size: 1rem;
}