#faq .categories {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #CCC;
    margin-bottom: 3rem;
}

#faq .categories .category {
    width: 25%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #7D7D7D;
}

#faq .categories .category.active {
    border-bottom: 4px solid #056EB5;
    margin-bottom: -2px;
}

#faq .questions {
    display: none;
}

#faq .questions.active {
    display: block;
}

#faq .question-item {
    background-color: #F6F6F6;
    padding: 0.8rem 1.25rem;
    border: 1px solid #CCC;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}

#faq .question-item .question {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

#faq .question-item .question span:before {
    content: "\002B";
    width: 30px;
    height: 30px;
    padding-bottom: 0.2rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(45deg, #056EB5, #004761);
    border-radius: 50%;
    color: #FFF;
    overflow: hidden;
    font-size: 1.4rem;
    box-sizing: border-box;
}

#faq .question-item.open .question span:before {
    content: "\2212";
}

#faq .question-item .answer {
    /* display: none; */
    font-size: 0.875rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#faq .question-item.open .answer {
    margin-top: 0.8rem;
}


@media (min-width: 992px) {
    #faq .content-data {
        width: 100%;
    }
}