#wallet .content {
    display: flex;
    flex-direction: column-reverse;
}

#wallet .content-data p {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
}


@media (min-width: 992px) {
    #wallet .content {
        flex-direction: row-reverse;
    }
}