#card .content {
    display: flex;
    flex-direction: column-reverse;
}

#card .content-data h3,
#card .content-data p {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
}

#card .content-data h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

#card .content-image {
    margin-bottom: 2rem;
}


@media (min-width: 992px) {
    #card .content {
        flex-direction: row-reverse;
    }
}