$grey_color: rgb(127, 129, 132);
$hover_color: rgb(189, 189, 189);
$back_color: rgb(37, 38, 42);
$border_color: rgb(72, 73, 76);
$dark_grey_color: rgb(55, 56, 59);
.Header {
    background-color: $back_color;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $border_color;
    padding: 0 16px;
    .make__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__left {
        display: flex;
        flex-direction: row;
        .nav__icon {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $grey_color;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: white;
                transition: 0.3s;
            }
        }
        .title__text {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px 0 20px;
            font-weight: bold;
            font-size: 25px;
        }
        .add__button {
            cursor: pointer;
            width: 36px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            border: 1px solid $dark_grey_color;
            color: $dark_grey_color;
            border-radius: 3px;
            transition: 0.3s;
            &:hover {
                border-color: $grey_color;
                background-color: rgb(67, 68, 71);
                color: $hover_color;
                transition: 0.3s;
            }
        }
        .asset__cotainer {
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 36px;
            width: 160px;
            border: 1px solid $back_color;
            border-bottom: 2px solid white;
            background-color: $dark_grey_color;
            border-radius: 3px;
            cursor: pointer;
            .asset__selected {
                margin-left: 10px;
                display: flex;
                flex-direction: row;
                padding-top: 10px;
                .asset__icon {
                    color: rgb(110, 110, 110);
                }
                .asset__type {
                    color: white;
                    margin-left: 10px;
                    user-select: none;
                }
            }
            .asset__percent {
                padding-top: 10px;
                margin-right: 10px;
                color: white;
                user-select: none;
            }
            transition: 0.3s;
            &:hover {
                border-left: 1px solid $grey_color;
                border-right: 1px solid $grey_color;
                border-top: 1px solid $grey_color;
                background-color: rgb(67, 68, 71);
                color: $hover_color;
                transition: 0.3s;
                .asset__selected {
                    .asset__icon {
                        color: white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .header__right {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        user-select: none;
        .demo__account {
            display: flex;
            flex-direction: row;
            .icon {
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: 0.3s;
            }
            .account__block {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 10px;
                .account__type {
                    color: rgb(220, 220, 220);
                    font-size: 12px;
                    transition: 0.3s;
                }
                .account__balance {
                    color: white;
                    transition: 0.3s;
                }
            }
            &:hover {
                .icon, .account__balance, .account__type {
                    color: $hover_color;
                    transition: 0.3s;
                }
            }
        }
        .deposit__button {
            margin-left: 20px;
            height: 32px;
            background-color: rgb(255, 216, 72);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            border-radius: 100px;
            font-size: 14px;
            transition: 0.3s;
            i {
                color: $back_color;
            }
            &:hover {
                background-color: rgb(255, 234, 150);
                transition: 0.3s;
            }
        }
        .user__avatar {
            margin-left: 20px;
            height: 32px;
            width: 32px;
            border-radius: 100%;
            background-color: $dark_grey_color;
            color: $grey_color;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 0.3s;
            .notification {
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background: #ff5964;
                border: 2px solid #25262a;
                color: white;
                font-size: 10px;
                text-align: center;
                position: absolute;
                margin-left: 20px;
                margin-top: -20px;
                transition: 0.3s;
            }
            &:hover {
                background-color: $dark_grey_color;
                transition: 0.3s;
                .notification {
                    background-color: rgb(200, 76, 85);
                    transition: 0.3s;
                }
            }
        }
    }
}