#about .content-data p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

#about .content-data p + p {
    font-size: 1.125rem;
}

#about .content-data p,
#about .content-data li {
    line-height: 1.5;
}

#about .content-data ul {
    margin-bottom: 2rem;
}

#about .content-data li {
    font-size: 0.95rem;
}

#about .content-image img {
    max-width: 450px;
}