/* =================================== */
/* Header */
/* =================================== */
.navbar-brand {
    margin-right: 8rem;
}

/* Header buttons */
.navbar-nav.items.buttons .nav-link {
    padding: 0.2rem 2rem;
    border-radius: 5px;
}

.navbar-nav.items.buttons .primary-button {
    border: 1px solid;
    border-color: var(--primary-color);
}

.navbar-nav.items.buttons .secondary-button {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
}

/* Header buttons mobile */
.menu .navbar-nav.buttons .nav-link {
    padding: 0 0 1rem;
    background-color: transparent;
    border: none;
}

.menu .navbar-nav.buttons .primary-button {
    color: var(--primary-color);
}

.menu .navbar-nav.buttons .secondary-button {
    color: var(--secondary-color);
}


/* =================================== */
/* Slider */
/* =================================== */
#slider {
    background-color: #1A1A1A;
}

#slider .swiper-container {
    width: 100%;
    height: 100vh;
}

#slider .swiper-pagination-bullets {
    margin: -2rem;
}

#slider .swiper-slide {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    #slider .swiper-slide {
        padding: 0 6rem;
    }
}

#slider .swiper-slide h2 {
    color: #FFF;
}

#slider .swiper-slide .btn {
    text-transform: uppercase;
}

#slide-1,
#slide-2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#slide-1 {
    background-image: url(../images/slide-1.png);
}

#slide-2 {
    background-image: url(../images/slide-2.png);
}


/* =================================== */
/* Graph */
/* =================================== */
.success-button,
.danger-button {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto 1rem;
    color: #FFF;
}

.success-button:hover,
.danger-button:hover {
    color: #FFF;
} 

.success-button .icon,
.danger-button .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 10px 0 0;
    background-color: #FFF;
    background-image: none !important;
    font-size: 1.5rem;
}

.success-button {
    background-color: rgb(0, 167, 103);
}

.danger-button {
    background-color: rgb(206, 49, 49);
}


/* =================================== */
/* Video */
/* =================================== */
#video .icon-control-play {
    background-image: none;
    background-color: #FFF;
    font-weight: normal;
}


/* =================================== */
/* About */
/* =================================== */
#about .buttons .btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

#about .primary-button,
#about .secondary-button {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: var(--primary-color);
}

#about .secondary-button {
    color: var(--primary-color);
    background-color: transparent;
}