/* =================================== */
/* Header */
/* =================================== */
#header .navbar-sticky {
    background-color: var(--primary-color);
}

#header .navbar-brand {
    margin-right: 8rem;
    color: #FFF;
}

#header .navbar-nav.items .nav-link  {
    color: #FFF;
}

/* Header buttons */
.navbar-nav.items.buttons .nav-link {
    padding: 0.2rem 2rem;
    border-radius: 5px;
    
}

.navbar-nav.items.buttons .primary-button,
.navbar-nav.items.buttons .secondary-button {
    border: 1px solid;
    border-color: #FFF;
}

.navbar-nav.items.buttons .primary-button {
    background-color: #FFF;
    color: #333 !important;
}

.navbar-nav.items.buttons .primary-button:hover {
    background-image: none;
}

.navbar-nav.items.buttons .secondary-button {
    color: #FFF;
    background-color: transparent;
}

/* Header buttons mobile */
.navbar-nav.toggle .nav-link {
    color: #FFF !important;
}

.menu .navbar-nav.buttons .nav-link {
    padding: 0 0 1rem;
    background-color: transparent;
    border: none;
}

.menu .navbar-nav.buttons .primary-button {
    color: var(--primary-color);
}

.menu .navbar-nav.buttons .secondary-button {
    color: var(--secondary-color);
}


/* =================================== */
/* Slider */
/* =================================== */
#slider .swiper-container {
    width: 100%;
    height: 100vh;
}

#slider .swiper-pagination-bullets {
    margin: -2rem;
}

#slider .swiper-slide {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

#slider .swiper-button-prev,
#slider .swiper-button-next {
    color: #FFF;
}

#slider .swiper-pagination-bullet {
    background-color: #FFF;
}

@media (min-width: 768px) {
    #slider .swiper-slide {
        padding: 0 6rem;
    }
}

#slider .swiper-slide h2 {
    color: #FFF;
}

#slider .swiper-slide p {
    color: #CCC;
}

#slider .swiper-slide .btn {
    text-transform: uppercase;
    background-color: #FFF;
    color: var(--primary-color);
}

#slider .swiper-slide .slide-image {
    max-height: 400px;
}

#slide-1 {
    background-color: var(--primary-color)
}


/* =================================== */
/* Graph */
/* =================================== */
#graph .description {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
}

#graph .description > div + div {
    margin-left: 10px;
}

#graph .description .icon {
    margin: 0;
    background-image: none;
    background-color: #333;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

#graph .description p {
    margin-top: 1rem;
    font-size: 0.8rem;
}


/* =================================== */
/* Video */
/* =================================== */
.icon-control-play {
    background-image: none !important;
    background-color: #FFF !important;
    font-weight: normal !important;
}


/* =================================== */
/* About */
/* =================================== */
#about .info-list {
    list-style: none;
    padding: 0;
    color: var(--primary-t-color);
}

#about .info-list .icon {
    display: inline-block;
    margin-right: 10px;
    background-image: none;
    background-color: var(--primary-t-color) !important;
    font-size: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: middle;
}