.modal-open {
    overflow: hidden;
}

#modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    z-index: 999;
}

#modal .modal-content {
    width: 100%;
    height: 100%;
    position: relative;
}

#modal .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    font-size: 3rem;
    color: #FFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#modal .modal-body {
    position: absolute;
    width: 100%;
    height: 80%;
    margin: 10% 0;
}

#modal .modal-body iframe {
    width: 100%;
    height: 100%;
}


@media (min-width: 768px) {
    #modal {
        padding: 1.5rem;
    }
}

@media (orientation: landscape) {
    #modal .modal-body {
        width: 70%;
        height: 100%;
        margin: 0 15%;
    }
}