<h1>Contact Page</h1>
<header>
    <h1>Fale Conosco</h1>
    <hr>
    <h3></h3>
</header>

<section>
    <h2>Formulário de Contato</h2>
    <hr align="left">
    <form method="post" action="#">
        <input id="name" name="name" type="text" placeholder="Nome*" required>
        <input id="email" name="email" type="email" placeholder="E-mail*" required>
        <textarea id="msg" name="msg" placeholder="Mensagem*" required></textarea>
        <input id="btnSend" type="submit" value="Enviar mensagem">
    </form>
</section>

<section>
    <h2>Contatos AAMF</h2>
    <hr align="left">
    <p></p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

