<h1>Contact Page</h1>
<header>
    <h1>Fale Conosco</h1>
    <hr>
    <h3></h3>
</header>

<section>
    <h2>Formulário de Contato</h2>
    <hr align="left">
    <form method="post" action="#">
        <input id="name" name="name" type="text" placeholder="Nome*" required>
        <input id="email" name="email" type="email" placeholder="E-mail*" required>
        <textarea id="msg" name="msg" placeholder="Mensagem*" required></textarea>
        <input id="btnSend" type="submit" value="Enviar mensagem">
    </form>
</section>

<section>
    <h2>Contatos AAMF</h2>
    <hr align="left">
    <p></p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

<section>
    <div id="map"></div>
    <script>
        function initMap() {
            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
                center: {lat: 44.540, lng: -78.546},
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqThR3PNM0qYdzYheZ3JK_xxpjrBKgo40&callback=initMap" async defer></script>
</section>