<header>
    <h1>Fale Conosco</h1>
    <hr>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.</h3>
</header>

<section id="contact-section">
    <div class="form-area">
        <h2>Formulário de Contato</h2>
        <hr align="left">
        <form id="form-contact" method="post" action="#">
            <input id="name" name="name" type="text" placeholder="Nome*" required>
            <input id="email" name="email" type="email" placeholder="E-mail*" required>
            <textarea id="msg" name="msg" placeholder="Mensagem*" required></textarea>
            <input id="btnSend" type="submit" value="Enviar mensagem">
        </form>
    </div>

    <div class="address-area">
        <h2>Contatos AAMF</h2>
        <hr align="left">
        <p>
            Sadaka ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
            viverra elementum semper quis ex. Donec lorem nulla .
        </p>
        <ul>
            <li><span><i class="address"></i></span>Rua Félix da Cunha, 30 - Floresta</li>
            <li><span><i class="address"></i></span>Rua Dr. Barcelos, 2355 - Camaquã</li>
            <li><span><i class="phone"></i></span>+55 51 9387 1076</li>
            <li><span><i class="email"></i></span>contato@associacaoamf.com</li>
        </ul>
    </div>
</section>

<section id="map-section">
    <div id="map"></div>
    <script>
        function initMap() {
            var centerGyms = {lat: -30.0526265, lng: -51.2109056},
                gym1 = {lat: -30.0131786, lng: -51.2034865},//Felix da Cunha
                gym2 = {lat: -30.1011286, lng: -51.2358598};//Dr Barcelos

            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
                center: centerGyms,
                zoom:12,
                scrollwheel: false
            });

            //C.E.I.T.
            var marker1 = new google.maps.Marker({
                position: gym1,
                map: map,
                title: 'C.E.I.T.'
            });

            //Power Fitness
            var marker2 = new google.maps.Marker({
                position: gym2,
                map: map,
                title: 'Power Fitness'
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqThR3PNM0qYdzYheZ3JK_xxpjrBKgo40&callback=initMap" async defer></script>
</section>