<header>
    <h1>Galeria</h1>
    <hr>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.</h3>
</header>

<section id="videos">
    <ul>
        <li><iframe width="560" height="315" src="https://www.youtube.com/embed/pWfXtfc00fs" frameborder="0" allowfullscreen></iframe></li>
        <li><iframe width="560" height="315" src="https://www.youtube.com/embed/nEFRJXoMdCs" frameborder="0" allowfullscreen></iframe></li>
        <li><iframe width="560" height="315" src="https://www.youtube.com/embed/32eS0ngRVNs" frameborder="0" allowfullscreen></iframe></li>
        <li><iframe width="560" height="315" src="https://www.youtube.com/embed/lalL1w18RgY" frameborder="0" allowfullscreen></iframe></li>
    </ul>
</section>