<h1>Home Page</h1>

<div class="container">
			<div class="slider_wrapper">
				<ul id="image_slider">
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
				</ul>					
				<span class="nvgt" id="prev"></span>
				<span class="nvgt" id="next"></span>
			</div>
		</div>

<!-- Scripts -->
<script src="js/slider.js"></script>