<header>
    <h1>Sobre</h1>
    <hr>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.</h3>
</header>

<section id="about">
    <img src="img/sobre/main.jpg" alt="">
    <h2>Sobre AAMF</h2>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla
        quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde
        ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit,
        beatae!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla
        quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde
        ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit,
        beatae!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla
        quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde
        ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit,
        beatae!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla
        quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde
        ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit,
        beatae!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla
        quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde
        ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit,
        beatae!
    </p>
</section>

<section id="team">
    <h2>Nosso Time</h2>
    <hr>
    <ul>
        <li>
            <img src="img/sobre/sem_imagem.jpg" alt="Vadacir  Ferraz">
        </li>
        <li>
            <img src="img/sobre/sem_imagem.jpg" alt="Douglas Lacerda">
        </li>
        <li>
            <img src="img/sobre/sem_imagem.jpg" alt="Eduardo Montanha">
        </li>
        <li>
            <img src="img/sobre/sem_imagem.jpg" alt="Mauricio Pozzebon">
        </li>
    </ul>
</section>